body {
	background: url(../img/bg.jpg);
}

/*主体部分*/
.wrap {
	width: 100%	;
	height: auto;
	border: 1px solid #dbdfd6;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: #fff;
}
.email-container {
	width: 100%;
	padding: 15px 30px 15px;
}

.email-header {
	padding-top: 15px;
	padding-bottom: 15px;
}
.emaill-mian{
	font-size: 18px;
}
#pageUl{
	width: 100%;
	overflow: hidden;
}
#pageUl li{
	text-align: center;
	float: left;
}
#pageUl li:nth-child(1){
	width: 10%;
}
#pageUl li:nth-child(2){
	width: 10%;
}
#pageUl li:nth-child(3){
	width: 60%;
}
#pageUl li:nth-child(4){
	text-align: right;
	width: 20%;
}
.ul1 li{
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	padding: 10px 10px 10px 0;
	cursor: pointer;
}
.ul1 li:nth-child(1){
	border-top: 1px solid #ccc;
}
.ul1 li span{
	float: left;
	display: inline-block;
}
.ul1 .span1{
	width:10%;
}
.ul1 .span2{
	width:10%;
}
.ul1 .span3{
	width:60%;
	text-align: left;
}
.ul1 .span4{
	width:20%;
	text-align: right;
}