body {
	background: url(../img/bg.jpg);
}

/*主体部分*/
.wrap {
	width: 100%	;
	height: auto;
	border: 1px solid #dbdfd6;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: #fff;
}
.email2-container{
	width: 100%;
	padding: 15px 30px 15px;
}
.email2-header{
	padding: 15px;
	padding-bottom: 15px;
}
.email2-header h4{
	text-align: left;
}
.email2-mian{
	margin: 10px;
}
.back{
	width: 100px;
	height: 100px;
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 16px;
	background: url(../img/u211.png) no-repeat;
	cursor: pointer;
	background-position: center;
}