<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>
            项目经理分配任务工作台
        </title>
        <link rel="stylesheet" href="./src/tasklist-module/css/reset.css" />
        <link rel="stylesheet" href="./src/tasklist-module/css/bootstrap.min.css" />
        <link rel="stylesheet" href="./src/tasklist-module/css/tasklist.css" />
        <link href="./src/bootstrapvalidator/dist/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
        <link href="./src/bootstrapvalidator/vendor/bootstrap/css/daterangepicker.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="row">
            <div class="project-container">
                <div class="project-header">
                    <div class="project-hd-info">
                        <span class="project-team">
                        </span>
                        <a href="javascript:void(0);" class="project-date" style="display: none;">
                            项目日历
                        </a>
                        <br />
                        <!--
                            <span class="project-name">
                            </span>
                        -->
                        <label for="success1">
                            <input id="success1" name="checkbox" type="checkbox" value="01" checked="true"  />
                            已完成任务
                        </label>
                        <label for="success2">
                            <input id="success2" name="checkbox" type="checkbox" value="02" checked="true" />
                            未完成任务
                        </label>
                        <label for="success3">
                            <input id="success3" name="checkbox" type="checkbox" value="03" checked="true" />
                            未分配任务
                        </label>
                        <label for="success4">
                            <input id="success4" name="checkbox" type="checkbox" value="04" checked="true" />
                            审核中
                        </label>
                    </div>
                    <div class="project-links">
                        <a href="#">
                            <span class="main success1">
                            </span>
                            <span>
                                已完成任务
                            </span>
                        </a>
                        <a href="#">
                            <span class="main success2">
                            </span>
                            <span>
                                未完成任务
                            </span>
                        </a>
                        <a href="#">
                            <span class="main success3">
                            </span>
                            <span>
                                未分配任务
                            </span>
                        </a>
                        <a href="#" style="border-right: 0;">
                            <span class="main success4">
                            </span>
                            <span>
                                审核中
                            </span>
                        </a>
                    </div>
                </div>
                <div class="project-main">
                    <div class="project-main-wrap">
                    </div>
                    <!-- 刪除、筛选、增加失败模态框  hint -->
                    <div class="modal fade" id="mymodual" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    提示：
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                </div>
                                <div class="modal-body container-fluid">
                                    <p id="hint" style="color: red;text-align: center;">
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" id="btn_add_delate" data-dismiss="modal">
                                        确认
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 刪除分栏模态框  hint -->
                    <div class="modal fade" id="delate-column" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    提示：
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                </div>
                                <div class="modal-body container-fluid">
                                    <p style="color: red;text-align: center;">
                                        确定删除此栏吗？
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        关闭
                                    </button>
                                    <button type="submit" class="btn btn-primary" id="btn-add-delate-col">
                                        确认
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 刪除单一任务模态框  hint -->
                    <div class="modal fade" id="delate-list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    提示：
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                </div>
                                <div class="modal-body container-fluid">
                                    <p style="color: red;text-align: center;">
                                        确定删除此任务吗？
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        关闭
                                    </button>
                                    <button type="submit" class="btn btn-primary" id="btn-add-delate-lis">
                                        确认
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="add-ready1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            新建立项任务
                        </h4>
                    </div>
                    <div class="modal-body container-fluid">
                        <form id="form-add-ready1">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskName">
                                        任务名称：
                                    </label>
                                    <input type="text" name="taskName" id="taskName" class="form-control" style="width: 255px;display: inline-block;" />
                                </div>
                                <div class="col-md-5">
                                    <label for="taskOwner;" style="width: 70px;">
                                        &nbsp;责 任 人：
                                    </label>
                                    <select name="taskOwner" id="taskOwner" class="form-control" style="width: 150px;height: 34px;margin-right: 10px;display: inline-block;">
                                    </select>
                                    <input type="text" placeholder="名称查询" class="form-control" style="width: 89px;display: inline-block;" />
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskEvalTime">
                                        任务估时：
                                    </label>
                                    <input type="text" name="taskEvalTime" id="taskEvalTime" class="form-control" style="width: 210px;display: inline-block;" />
                                    <span>
                                        &nbsp;&nbsp;小时
                                    </span>
                                </div>
                                <div class="col-md-5">
                                    <label for="taskStartTime">
                                        开始时间：
                                    </label>
                                    <input type="text" name="taskStartTime" id="taskStartTime" class="form-control" style="width: 255px;display: inline-block;" />
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskDoneTime">
                                        完成时间：
                                    </label>
                                    <input type="text" name="taskDoneTime" id="taskDoneTime" class="form-control" style="width: 255px;display: inline-block;" />
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-11 col-md-offset-1">
                                    <label for="taskSpec" style="vertical-align: top;">
                                        任务说明：
                                    </label>
                                    <textarea name="taskSpec" class="form-control" id="taskSpec" style="width: 79.5%;height: 120px;display: inline-block;">
                                    </textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" class="btn btn-primary" id="btn_add_ready1">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="add-ready2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            新建任务
                        </h4>
                    </div>
                    <div class="modal-body container-fluid">
                        <form id="form-add-ready2">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskName">
                                        任务名称：
                                    </label>
                                    <input type="text" name="taskName" id="taskName" class="form-control" style="width: 255px;display: inline-block;" />
                                </div>
                                <div class="col-md-5">
                                    <label for="taskOwner;" style="width: 70px;">
                                        &nbsp;责 任 人：
                                    </label>
                                    <select name="taskOwner" id="taskOwner" class="form-control" style="width: 150px;height: 34px;margin-right: 10px;display: inline-block;">
                                    </select>
                                    <input type="text" placeholder="名称查询" class="form-control" style="width: 89px;display: inline-block;" />
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskEvalTime">
                                        任务估时：
                                    </label>
                                    <input type="text" name="taskEvalTime" id="taskEvalTime" class="form-control" style="width: 210px;display: inline-block;" />
                                    <span>
                                        &nbsp;&nbsp;小时
                                    </span>
                                </div>
                                <div class="col-md-5">
                                    <label for="taskStartTime">
                                        开始时间：
                                    </label>
                                    <input type="text" name="taskStartTime" id="taskStartTime" class="form-control" style="width: 255px;display: inline-block;" />
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskDoneTime">
                                        完成时间：
                                    </label>
                                    <input type="text" name="taskDoneTime" id="taskDoneTime" class="form-control" style="width: 255px;display: inline-block;" />
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-11 col-md-offset-1">
                                    <label for="taskSpec" style="vertical-align: top;">
                                        任务说明：
                                    </label>
                                    <textarea name="taskSpec" class="form-control" id="taskSpec" style="width: 79.5%;height: 120px;display: inline-block;">
                                    </textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" class="btn btn-primary" id="btn_add_ready2">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="add-need" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            新建需求任务
                        </h4>
                    </div>
                    <div class="modal-body container-fluid">
                        <form id="form-add-need">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskName">
                                        任务名称：
                                    </label>
                                    <input type="text" class="form-control" name="taskName" id="taskName" style="width: 255px;display: inline-block;" />
                                </div>
                                <div class="col-md-5">
                                    <label for="taskOwner" style="width: 70px;">
                                        &nbsp;责 任 人：
                                    </label>
                                    <select name="taskOwner" id="taskOwner" class="form-control" style="width: 255px;height: 34px;display: inline-block;">
                                    </select>
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskType">
                                        任务类型：
                                    </label>
                                    <select name="taskType" id="taskType" class="form-control" style="width: 255px;height: 34px;display: inline-block;">
                                        <option value="">
                                            请选择需求类型
                                        </option>
                                        <option value="02">
                                            场景流程图
                                        </option>
                                        <option value="03">
                                            界面原型图
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <label for="taskEvalTime">
                                        任务估时：
                                    </label>
                                    <input type="text" name="taskEvalTime" id="taskEvalTime" class="form-control" style="width: 210px;display: inline-block;" />
                                    <span>
                                        &nbsp;&nbsp;小时
                                    </span>
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskStartTime">
                                        开始时间：
                                    </label>
                                    <input type="text" name="taskStartTime" id="taskStartTime" class="form-control" style="width: 255px;display: inline-block;" />
                                </div>
                                <div class="col-md-5">
                                    <label for="taskDoneTime">
                                        完成时间：
                                    </label>
                                    <input type="text" name="taskDoneTime" id="taskDoneTime" class="form-control" style="width: 255px;display: inline-block;" />
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-11 col-md-offset-1">
                                    <label for="taskSpec" style="vertical-align: top;">
                                        任务说明：
                                    </label>
                                    <textarea name="taskSpec" class="form-control" id="taskSpec" style="width: 79.5%;display: inline-block;height: 120px;">
                                    </textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" id="btn_add_need">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="add-design" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            新建设计任务
                        </h4>
                    </div>
                    <div class="modal-body container-fluid">
                        <form id="form-add-design">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskName">
                                        任务名称：
                                    </label>
                                    <input type="text" name="taskName" id="taskName" class="form-control"style="width: 255px;display: inline-block;" />
                                </div>
                                <div class="col-md-5">
                                    <label for="taskOwner" style="width: 70px;">
                                        &nbsp;责 任 人：
                                    </label>
                                    <select name="taskOwner" id="taskOwner" class="form-control" style="height: 34px;width: 255px;display: inline-block;">
                                    </select>
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskType">
                                        任务类型：
                                    </label>
                                    <select name="taskType" id="taskType" class="form-control" style="width: 255px;height: 34px;display: inline-block;">
                                        <option value="">
                                            请选择需求类型
                                        </option>
                                        <option value="04">
                                            功能流程图
                                        </option>
                                        <option value="05">
                                            原型图限制条件
                                        </option>
                                        <option value="06">
                                            设计数据库
                                        </option>
                                        <option value="07">
                                            设计接口
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <label for="taskEvalTime">
                                        任务估时：
                                    </label>
                                    <input type="text" name="taskEvalTime" id="taskEvalTime" class="form-control"style="width: 210px;display: inline-block;" />
                                    <span>
                                        &nbsp;&nbsp;小时
                                    </span>
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskStartTime">
                                        开始时间：
                                    </label>
                                    <input type="text" name="taskStartTime" id="taskStartTime" class="form-control"style="width: 255px;display: inline-block;" />
                                </div>
                                <div class="col-md-5">
                                    <label for="taskDoneTime">
                                        结束时间：
                                    </label>
                                    <input type="text" name="taskDoneTime" id="taskDoneTime" class="form-control"style="width: 255px;display: inline-block;" />
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-11 col-md-offset-1">
                                    <label for="taskSpec" style="vertical-align: top;">
                                        任务说明：
                                    </label>
                                    <textarea name="taskSpec" class="form-control"style="width: 79.5%;display: inline-block;height: 120px;"  id="taskSpec">
                                    </textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" id="btn_add_design">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="add-list" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            分配工单
                        </h4>
                    </div>
                    <div class="modal-body container-fluid">
                        <form id="form-add-list">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskName">
                                        选择工单：
                                    </label>
                                    <select name="taskName" id="taskName" class="form-control" style="width: 255px;height: 34px;display: inline-block;">
                                        <option value="01">
                                            01
                                        </option>
                                        <option value="02">
                                            02
                                        </option>
                                        <option value="03">
                                            03
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <label for="taskOwner" style="width: 70px;">
                                        &nbsp;责 任 人：
                                    </label>
                                    <select name="taskOwner" id="taskOwner" class="form-control" style="height: 34px;width: 255px;display: inline-block;">
                                    </select>
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskEvalTime">
                                        任务估时：
                                    </label>
                                    <input type="text" name="taskEvalTime" id="taskEvalTime" class="form-control" style="width: 210px;display: inline-block;" />
                                    <span>
                                        &nbsp;&nbsp;小时
                                    </span>
                                </div>
                                <div class="col-md-5">
                                    <label for="taskStartTime">
                                        开始时间：
                                    </label>
                                    <input type="text" name="taskStartTime" id="taskStartTime" class="form-control" style="width: 255px;display: inline-block;" />
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-11 col-md-offset-1">
                                    <label for="taskDoneTime">
                                        结束时间：
                                    </label>
                                    <input type="text" name="taskDoneTime" id="taskDoneTime" class="form-control" style="width: 255px;display: inline-block;" />
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-11 col-md-offset-1">
                                    <label for="taskSpec" style="vertical-align: top;">
                                        任务说明：
                                    </label>
                                    <textarea name="taskSpec" class="form-control" style="width: 79.5%;display: inline-block;height: 120px;" id="taskSpec">
                                    </textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" id="btn_add_list">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="add-test" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            工单
                        </h4>
                    </div>
                    <div class="modal-body container-fluid">
                        <form id="form-add-test">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <label for="taskName">
                                        选择工单：
                                    </label>
                                    <select name="taskName" id="taskName" class="form-control" style="width: 255px;height: 34px;display: inline-block;">
                                        <option value="01">
                                            01
                                        </option>
                                        <option value="02">
                                            02
                                        </option>
                                        <option value="03">
                                            03
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <label for="taskOwner" style="width: 70px;">
                                        &nbsp责 任 人：
                                    </label>
                                    <select name="taskOwner" id="taskOwner" class="form-control" style="height: 34px;width: 255px;display: inline-block;">
                                    </select>
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-3 col-md-offset-1">
                                    <label for="taskEvalTime">
                                        任务估时：
                                    </label>
                                    <input type="text" name="taskEvalTime" id="taskEvalTime" class="form-control" style="width: 210px;display: inline-block;" />
                                    <span>
                                        &nbsp;&nbsp;小时
                                    </span>
                                </div>
                                <div class="col-md-3">
                                    <label for="taskStartTime">
                                        开始时间：
                                    </label>
                                    <input type="text" name="taskStartTime" id="taskStartTime" class="form-control" style="width: 255px;display: inline-block;" />
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-11 col-md-offset-1">
                                    <label for="taskDoneTime">
                                        结束时间：
                                    </label>
                                    <input type="text" name="taskDoneTime" id="taskDoneTime" class="form-control" style="width: 255px;display: inline-block;" />
                                </div>
                            </div>
                            <div class="row marginTop">
                                <div class="col-md-11 col-md-offset-1">
                                    <label for="taskSpec" style="vertical-align: top;">
                                        任务说明：
                                    </label>
                                    <textarea name="taskSpec" class="form-control" style="width: 79.5%;display: inline-block;height: 120px;" id="taskSpec">
                                    </textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" id="btn_add_test">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="add-column" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            新建项目阶段
                        </h4>
                    </div>
                    <div class="modal-body container-fluid">
                        <div class="row">
                            <div class="col-md-11 col-md-offset-1">
                                <label for="fenceId">
                                    阶段名称：
                                </label>
                                <input type="text" name="fenceId" id="fenceId" class="input-lg" style="width:  379px;" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" class="btn btn-primary" id="btn_add_column">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="add-quedtion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            详情
                        </h4>
                    </div>
                    <div class="modal-body container-fluid">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" class="btn btn-primary" id="btn_add_question">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="add-flow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            详情
                        </h4>
                    </div>
                    <div class="modal-body container-fluid">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" class="btn btn-primary" id="btn_add_ready">
                            确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script src="./src/jquery/jquery.min.js">
        </script>
        <script src="./src/tasklist-module/src/bootstrap.min.js">
        </script>
        <script src="./src/bootstrapvalidator/vendor/bootstrap/js/moment.js">
        </script>
        <script src="./src/bootstrapvalidator/vendor/bootstrap/js/daterangepicker.js">
        </script>
        <script src="./src/bootstrapvalidator/dist/js/bootstrapValidator.js">
        </script>
    </body>
</html>
