<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="./src/tree-module/css/bui.css" />
<link rel="stylesheet" href="./src/tree-module/css/dpl.css" />
<div class="row content-box-zhu">
<div class="tree_div" >
         <select id="product_select"></select>
         <div id="t1" style="width: 25%;height:100%">
             <div style="height: 100%;text-align: center;">
             	<h3 style="line-height: 100%;width: auto;float: left;margin-left: 10px;" id="my_navigation"></h3>
             </div>
             <div id="tree" class="" style="margin-top: 10px;margin-left: 5px;margin-right: 5px;height: 100%;">
             </div>
             <div  class="tree_footer" id="tree_button">
             	
             </div>
        </div>
        <div id="t2" style="display: none;"><a　href="javascript:void(0);" id="shrink_a"></a></div>
        <div id="t3" class="tree_t3" style="width: 65%;height:80%">
           <input id="version" type="hidden"/>
           <div id="t5" style="width: 100.5%;height: 100%;overflow-y: auto;">
           </div>   
           <div id="tbar">
     	         
	        </div>  
        </div>

	</div>
</div>
</div>
</html>