<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>找回密码</title>
		<link rel="stylesheet" href="../../src/bootstrapvalidator/vendor/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../../src/password-module/css/x-layout.css" />
	</head>
	<body>
		<div class="container">
			<div class="x_findCon">
				<div class="x_findT">
			 	  	<h1 class="back-login-title">EDP联创智融</h1>
			 	</div>
			 	<div class="x_findC">
			 		<div class="x_margin">
						<form action="##">
							<p class="text-center x_find_title">找回密码</p>
							<div class="form-group x_inputT">
								<input type="text" class="form-control x_find_input" id="username" 
									   placeholder="请输入用户名">
									   <button id="Send_out">发送验证码</button>
									   <label id="Label_out"></label>
							</div>
							<div class="form-group x_inputT">
								<input type="text" class="form-control x_find_input" id="new_password" 
									   placeholder="请输入新密码" >
							</div>
							<div class="form-group x_inputT">
								<input type="text" class="form-control x_find_input" id="again_password" 
									   placeholder="请重新输入新密码">
							</div>
							<div class="form-group x_inputT">
								<input type="text" class="form-control x_find_input" id="code_password" 
									   placeholder="请输入邮箱收到的验证码">
							</div>
							<button id="save_password" class="btn btn-success center-block x_findSub">保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</button> 
							
						</form>
			 			
			 		</div>
				</div>	
			</div>
		</div>
	</body>

</html>